.content-area {
  flex: 1;
  position: relative;
}

.main-page {
  padding-left: 200px;
}

.sideNav-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 262px;
  background: #fafafa;
  display: flex;
}

.vertical-nav {
  min-width: 262px;
}
clr-vertical-nav-group-children{
  margin-left: 24px;
  margin-top:12px;
}
clr-vertical-nav-group-children a{
 margin-left: 16px;
    font-size: 12px!important;
    color:#485969;
}
clr-vertical-nav-group-children a:hover{
    color: #6bc1e3;;
}